.contact{
    min-height: fit-content;
    text-align: center;
    border-top: .5px solid rgba(0, 0, 0, 0.3);
}

.contact-container{
    padding: 0 30px;
    margin: 100px 0;
}

.contact-title{
    font-size: 3em;
    font-weight: 500;
    margin: 40px 0;
}

.contact-desc{
    white-space: pre-wrap;
    font-size: 1.4em;
    font-weight: 200;
    line-height: 1.5;
}

.contact-sel{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-sel a{
    text-decoration: none;
    color: black;
}

.contact-sel span:hover, .contact-sel a:hover{
    color: green;
    text-decoration: underline;
    cursor: pointer;
}

.contact-subtitle{
    font-size: 1.4em;
    font-weight: 400;
}

.contact-desc2{
    font-size: 1.4em;
    font-weight: 200;
    line-height: 1.5;
    margin-bottom: 40px;
}

@media screen and (max-width: 992px) {
    .contact{
        width: 100%;
    }

    .contact-container{
        padding: 0 15px;
    }

    .contact-title{
        margin-top: -10px;
        margin-bottom: 80px;
    }

    .contact-desc{
        white-space: pre-line;
    }
}