.calendar{
    box-sizing: border-box;
    max-width: 1040px;
    width: 70vw;
    height: 50vh;
    margin: auto;
    margin-top: 15px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}

.rbc-btn-group button{
    width: 100px;
    font-size: .8rem;
    font-weight: 500;
}

.rbc-toolbar-label{
    font-size: 1.2rem;
    font-weight: 700;
}

.rbc-button-link  { 
    /* This was originally 50 on css library */
    width: 5ch !important; /* Change the width to 5ch */
    float: left;
}

.rbc-off-range{
    color: transparent;
}

@media screen and (max-width: 992px) {
    .rbc-header span{
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 700px) {
    .calendar{
        width: 90vw;
        height: 50vh;
        margin-top: 10px;
        border-radius: 0;
        padding: 5px;
    }

    .custom-event-wrapper{
        font-size: .8rem;
    }
}