.lessons{
    min-height: fit-content;
    text-align: center;
    border-top: .5px solid rgba(0, 0, 0, 0.3);
}

.lessons-container{
    padding: 0 30px;
    margin: 100px 0;
}

.lessons-title{
    font-size: 3em;
    font-weight: 500;
    margin: 50px 0 80px 0;
}

.lessons-desc{
    margin: auto;
    width: 90%;
    display: flex;
    align-items: center;
}

.lessons-description{
    padding: 20px;
    font-size: 1.4em;
    font-weight: 200;
    line-height: 1.5;
}

.lessons-img{
    width: 486px;
    height: auto;
}

@media screen and (max-width: 992px) {
    .lessons{
        width: 100%;
    }

    .lessons-container{
        padding: 0 15px;
    }

    .lessons-title{
        margin-top: -10px;
        margin-bottom: 20px;
    }

    .lessons-description{
        padding: 0;
    }

    .lessons-img{
        width: 362px;
        height: auto;
    }
}

@media screen and (max-width: 768px) {
    .lessons-img{
        display: none;
    }
}