.nav{
    width: 100%;
    position: fixed;
    z-index: 10000;
    top: 0;
    background-color: white;
    transition-timing-function: ease-in-out;
    transition: .5s;
}

.nav-body{
    width: 992px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
}

.nav_show{
    background-color: transparent;
    transition: .3 ease-in-out;
}

.mobile-nav{
    width: 121px;
}

.app-logo{
    width: 160px;
    height: 30px;
}

.nav-area{
    display: flex;
}

.main, .sub{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 9000;
}

.main{
    font-size: 1.3em;
    font-weight: 400;
    width: 750px;
}

.sub{
    font-size: 1em;
    font-weight: 400;
    width: 121px;
}

nav ul{
    list-style: none;
    text-align: center;
    padding: 0;
}

nav ul li{
    text-align: center;
    border-right: 2px solid rgba(0, 0, 0, 0.15);
    padding: 0 30px;
}

nav ul li:last-child{
    border-right: none;
}

.sub li{
    padding: 0 15px;
}

nav ul li a{
    text-decoration: none;
    color: black;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

nav ul li a:hover{
    color: green;
}

nav ul li a > .active{
    color: green;
}

.hamburger{
    display: none;
}

@media screen and (max-width: 992px) {
    .nav-body{
        width: 100%;
        height: 0;
    }

    nav{
        flex-direction: column;
        justify-content: flex-start;
    }

    .hide-nav{
        transform-origin: 0% 0%;
        transform: translate(0, -150%);
        transition: transform 0.3s linear;
        z-index: 9000;
    }

    .show-nav{
        transform-origin: 0% 0%;
        transform: translate(0, 0%);
        transition: transform 0.3s linear;
        z-index: 9000;
        height: calc(var(--vh, 1vh) * 100);
    }

    .main{
        width: 100%;
        margin: 0;
        flex-direction: column;
        background-color: white;
        font-size: 1.5em;
        z-index: 9000;
    }

    .main li{
        height: 80px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        padding: 0;
        z-index: 9000;
        border-bottom: 1px solid #dddddd;
    }

    .main li:last-child{
        border-bottom: none;
    }

    .sub{
        width: 100%;
        background-color: white;
        margin-top: 0;
        font-size: 1.5em;
    }

    .sub li{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 80px;
        width: 100%;
        border: none;
        padding: 0;
        border-right: 1px solid #dddddd;
    }

    .hamburger{
        display: block;
    }

    .mobile-nav{
        width: 100%;
        height: 80px !important;
        position: fixed;
        top: 0;
        display: flex;
        align-items: center;
        padding: 0 20px;
        justify-content: space-between;
        background-color: white;
        z-index: 1000000;
    }

    .nav-area{
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
        height: calc(var(--vh, 1vh) * 100);
        background-color: white;
    }

    .nav{
        height: 10px;
    }

    .backtotop{
        z-index: 5000 !important;
    }
}