.slider{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    padding: 0;
    margin: auto;
    height: 100vh;
}

.swiper-img > img{
    object-fit: cover;
    min-width: 100vw;
    min-height: 100vh;
}

.arrow{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 100vw;
    height: 95vh;
    position: fixed;
    font-weight: 300;
    color: rgb(0, 0, 0);
    cursor: pointer;
    text-align: center;
}

.arrow img{
    width: 50px;
    object-fit: contain;
}

@media screen and (max-width:992px) {
    .swiper-img > img{
        max-width: 100vw;
        max-height: 100vh;
    }

    .slider{
        height: calc(var(--vh, 1vh) * 100);
    }

    .arrow{
        height: calc(var(--vh, 1vh) * 98);
    }
}